@tailwind base;
@tailwind components;
@tailwind utilities;

.chatWidget {
  @apply flex flex-row rounded-sm border-2;
  border-color: var(--border-color);
  box-shadow: 4px 4px 15px 0 var(--border-color-shadow);
  width: 100%;
}
.chatRoom {
  @apply flex flex-col;
  width: 85%;
  border-color: var(--border-color);
}
.roomStatus {
  @apply grow;
}

.messageList {
  @apply overflow-y-scroll px-4 py-2;
  height: 300px;
  .empty {
    color: var(--support-text);
  }
}

.userList {
  @apply overflow-y-scroll border-r-2 px-4 py-2;
  height: 100%;
}

.inputRow {
  @apply flex;

  .input {
    @apply grow p-2;
    color: var(--text-inverted);
  }
  .button {
    @apply px-5 py-2 text-lg;
    background: var(--background-inverted-light);
  }
}
