@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --default-text: rgb(0, 0, 0);
  --text-inverted: #fff;
  --support-text: #777;
  --border-color: #cfcfcf;
  --border-color-shadow: #000;
  --background: rgb(255, 255, 255);
  --background-inverted: rgb(0, 0, 0);
  --background-inverted-light: #333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --default-text: rgb(255, 255, 255);
    --text-inverted: #000;
    --support-text: #777;
    --border-color: #cfcfcf;
    --border-color-shadow: #777;
    --background: rgb(0, 0, 0);
    --background-inverted: rgb(255, 255, 255);
    --background-inverted-light: #aaa;
  }
}

body {
  color: var(--default-text);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  align-self: center;
}
